
<section style="width: 100%" class="py-2 bg-dark text-light bottom-0 end-0 position-fixed">
    <hr class="my-0" />

  <div class="container text-center mt-1">
    <span class="lead">Copyright &copy; 2021 Wahah</sapn>
    <a href="#" class="bottom-0 end-0 position-fixed p-2 ">
      <i class="bi bi-arrow-up-circle h1"></i>
    </a>
  </div>
  <!-- Section: Social media -->
  <section class="mb-0 mt-1 text-center">
    <a href="" class="bi bi-twitter mx-1"></a>
    <a href="" class="bi bi-instagram mx-1"></a>
    <a href="" class="bi bi-facebook mx-1"></a>
    <a href="" class="bi bi-linkedin mx-1"></a>
  </section>
</section>
<script>  var MessageBirdChatWidgetSettings = {     widgetId: 'c6599707-aaa8-4ded-96b6-4517fb03613a',     initializeOnLoad: true,   };  !function(){"use strict";if(Boolean(document.getElementById("live-chat-widget-script")))console.error("MessageBirdChatWidget: Snippet loaded twice on page");else{var e,t;window.MessageBirdChatWidget={},window.MessageBirdChatWidget.queue=[];for(var i=["init","setConfig","toggleChat","identify","hide","on","shutdown"],n=function(){var e=i[d];window.MessageBirdChatWidget[e]=function(){for(var t=arguments.length,i=new Array(t),n=0;n<t;n++)i[n]=arguments[n];window.MessageBirdChatWidget.queue.push([[e,i]])}},d=0;d<i.length;d++)n();var a=(null===(e=window)||void 0===e||null===(t=e.MessageBirdChatWidgetSettings)||void 0===t?void 0:t.widgetId)||"",o=function(){var e,t=document.createElement("script");t.type="text/javascript",t.src="https://livechat.messagebird.com/bootstrap.js?widgetId=".concat(a),t.async=!0,t.id="live-chat-widget-script";var i=document.getElementsByTagName("script")[0];null==i||null===(e=i.parentNode)||void 0===e||e.insertBefore(t,i)};"complete"===document.readyState?o():window.attachEvent?window.attachEvent("onload",o):window.addEventListener("load",o,!1)}}();</script>