<header>
  <ul class="nav nav-tabs align-items-center justify-content-center">
    <li class="nav-item">
      <a class="nav-link" href="/add-plant">Add Plant</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/add-inventory">Add Inventory</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/plants">Plants</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/cart">Cart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/order">orders</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/signup">signup</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login">login</a>
    </li>
    <li class="nav-item">
      <form action="/logout" method="POST">
        <button class="nav-link" type="submit">logout</button>
      </form>
    </li>
  </ul>
</header>
