@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}

/* sign up & login pages */
@media (min-width: 768px) {
  .Sign-up .form-control {
    width: 100%;
  }
}
.color-btn {
  background-color: #006666;
  color: white;
  width: 100%;
}
.form-bg {
  background-color: #00b3b3;
}

/* cart page */
.h {
  height: 40px;
}
.h2 {
  height: 80px;
}
.my-h {
  height: 200px;
  width: 200px;
}
.space-sm {
  width: 10px;
}

.my-p {
  max-width: 400px;
  max-height: 200px;
}

/* cart page */

.height-cart {
  height: 40px;
}

.cart-page {
  margin-top: 80px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.cart-info {
  display: flex;
  flex-wrap: wrap;
}

.img {
  height: 200px;
  width: 250px;
  /* max-height: 300px;
    max-width: 400px; */
}

th {
  padding: 5px;
  text-align: left;
  color: #fff;
  background-color: grey;
}

td {
  padding: 10px 5px;
}

td input {
  width: 80px;
  height: 30px;
  padding: 5px;
}

td a {
  color: lightcoral;
  text-decoration: none;
}

td img {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.total-price {
  display: flex;
  justify-content: flex-end;
}

.total-price table {
  border-top: 3px solid grey;
  width: 100%;
  max-width: 550px;
}

td:last-child {
  text-align: right;
}

th:last-child {
  text-align: right;
}

.hide {
  display: none;
}

/* footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

/* glow */
.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

/* cart img */
.shopping-cart-img {
  width: 30px;
  height: 30px;
}
@media (max-width: 768px) {
  .cart-btn {
    margin-top: 10px;
  }
}
@media (min-width: 768px) {
  .cart-btn {
    margin-left: 5px;
    margin-top: 5px;
  }
}
/* .cart-btn {
  background-color: gray;
  border-radius: 15px;
  border-color: black;
  margin-left: 10px;
  width: 60px;
  height: 40px;
} */

/* reviews */

.fa {
  font-size: 25px;
}

.checked {
  color: orange;
}

/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top: 10px;
}

.middle {
  float: left;
  width: 70%;
  margin-top: 10px;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-5 {
  width: 60%;
  height: 18px;
  background-color: #04aa6d;
}
.bar-4 {
  width: 30%;
  height: 18px;
  background-color: #2196f3;
}
.bar-3 {
  width: 10%;
  height: 18px;
  background-color: #00bcd4;
}
.bar-2 {
  width: 4%;
  height: 18px;
  background-color: #ff9800;
}
.bar-1 {
  width: 15%;
  height: 18px;
  background-color: #f44336;
}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side,
  .middle {
    width: 100%;
  }
  /* Hide the right column on small screens */
  .right {
    display: none;
  }
}

.product-img {
  height: 100%;
  width: 100%;
}

.product-w {
  width: 25%;
}

/* detail-product-img */

#detail-product-img {
  height: 500px;
  width: 500px;
}

@media (max-width: 576px) {
  #detail-product-img {
    width: 400px;
    height: 400px;
  }
}

#errMessage {
  width: 300px;
  border: indianred 3px solid;
  border-radius: 3px;
}

#index-products img {
  height: 400px;
}

#site {
  border: black 3px solid;
  border-radius: 3px;
  color: black;
}

#site:hover {
  background-color: black;
  color: white;
}

.account-img {
  width: 45px;
  height: 45px;

  border-radius: 30px;
}

#account {
  margin-left: 15px;
}

.account-list-item:hover {
  background-color: #bebebe;
}

.logout {
  background-color: white;
  color: black;
  width: 100%;
  border: none;
}

.logout:hover {
  background-color: #bebebe;
}

.contact {
  background-image: url("https://th.bing.com/th/id/R.0cc80cc7e3942f3d5c94962b4b2918d6?rik=itPnzG4AfSWNpg&pid=ImgRaw&r=0");
}
